/*2019-04-10
dean
로그인 콜백 페이지 CSS*/
.callback-wrapper {
    position: fixed;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 4;
    align-items: center;
}
