/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    padding: 0;
    color: #5a5a5a;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
    padding-right: 0;
    padding-left: 0;
}

.navbar-wrapper .navbar {
    padding-right: 15px;
    padding-left: 15px;
}

.navbar-wrapper .navbar .container {
    width: auto;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

#carousel-wrapper {
    position: relative;
}

/* Carousel base class */
.carousel {
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    background-color: black;
    text-align: center;
    height: 100vh;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}

.marketing h2 {
    font-weight: normal;
}

.marketing .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
    margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
    /* Navbar positioning foo */
    .navbar-wrapper {
        margin-top: 20px;
    }

    .navbar-wrapper .container {
        padding-right: 15px;
        padding-left: 15px;
    }

    .navbar-wrapper .navbar {
        padding-right: 0;
        padding-left: 0;
    }

    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
        border-radius: 4px;
    }

    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 992px) {
    .featurette-heading {
        margin-top: 120px;
    }
}

@media (max-width: 575px) {
    .glyphicon-home,
    .glyphicon-fullscreen,
    .glyphicon-option-vertical{
        font-size: 18px !important;
    }
}

.carousel-control.right,
.carousel-control.left {
    background: none !important;
    -webkit-transition: all .25s ease-in;
    transition: all .25s ease-in;
}

.carousel-control.right:hover,
.carousel-control.left:hover {
    background: rgba(0, 0, 0, .2) !important;
}

.carousel-control {
    width: 60px !important;
}


/*온셥 버튼 CSS*/
.glyphicon-option-vertical {
    position: absolute;
    display: inline-block;
    right: 15px;
    top: 18px;
    z-index: 2;
    font-size: 23px;
    color: hsla(0, 0%, 100%, .79);
    cursor: pointer;
    background: rgba(0, 0, 0, .29);
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    padding: 4px 3px 4px 5px;
}

/*홈페이지 이동 버튼 CSS*/
.glyphicon-home {
    position: absolute;
    padding: 4px;
    display: inline-block;
    right: 15px;
    top: 60px;
    z-index: 2;
    font-size: 23px;
    color: hsla(0, 0%, 100%, .79);
    cursor: pointer;
    background: rgba(0, 0, 0, .29);
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.glyphicon-home:hover {
    color: #ffffff;
}




/*전체화면 버튼 CSS*/
.glyphicon-fullscreen {
    position: absolute;
    padding: 4px;
    display: inline-block;
    right: 15px;
    bottom: 18px;
    top: auto;
    z-index: 2;
    font-size: 23px;
    color: hsla(0, 0%, 100%, .79);
    cursor: pointer;
    background: rgba(0, 0, 0, .29);
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.glyphicon-option-vertical:hover,
.glyphicon-fullscreen:hover {
    background: rgba(0,0,0,.35);
    color: #fff;
}


/*온션 리스트 CSS*/
#option-wrapper {
    cursor: pointer;
    background: rgba(0,0,0,.47);
    position: absolute;
    display: none;
    top: 45px;
    right: 30px;
}

.optionList {
    min-width: 100px;
    padding: 5px 8px;
    color: #fff;
    text-align: center;
}

.optionList:hover {
    background: rgba(0,0,0,.6);
}
